<%- include('partials/_header'); %>

<div class="container">
  <div class="row justify-content-center aling-items-center">
    <div class="col p-5">
      <div class="text-center">
        <h1>Sistema de usuario</h1>
      </div>
      <form action="/add" method="post" class="form-horizontal">
        <div class="input-group p-2">
          <label for="" class="col-sm-2">Nombre</label>
          <input type="text" name="nombre" />
        </div>
        <div class="input-group p-2">
          <label class="col-sm-2" for="">Correo electrnonico</label>
          <input type="text" name="correo" />
        </div>
        <div class="input-group p-2">
          <label class="col-sm-2" for="">Rol</label>
          <input type="text" name="rolU" />
        </div>
        <div class="input-group p-2">
          <label class="col-sm-2" for="">Contraseña</label>
          <input type="text" name="contraseña" />
        </div>
        <button type="submit" class="  ">Agregar</button>
      </form>
    </div>
  </div>
</div>

<div>
  <h1>Usuarios registrados</h1>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Rol</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < tasks.length; i++){%>
    <tr>
      <!-- <td><%= i + 1%></td> Si funciona -->
      <td><%= tasks[i].nombre %></td>
      <td><%= tasks[i].correo %></td>
      <td><%= tasks[i].rolU %></td>
      <td>
        <a href="/edit/<%= tasks[i]._id%>">Editar</a>
        <a href="/delete/<%= tasks[i]._id %>">Eliminar</a>
      </td>
    </tr>
    <%}%>
  </tbody>
</div>

<%- include('partials/_footer');%>
